<form method="post" action="{{ path('app_categorias_delete', {'id': categoria.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoria.id) }}">
    <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
</form>
