{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block body %}
    {% include 'layout/header.html.twig' %}
    <div class="container mt-5">
        <h1>Editar Producto</h1>

        <div class="row">
            <div class="col-md-6">
                {{ include('productos/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <a href="{{ path('app_productos_index') }}" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                {{ include('productos/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
